html, body {
    overflow-x: hidden;
  }

body {
    background: #fff9fb;
    color:rgba(255, 239, 243);
    font-family:"Nunito", sans-serif;
}

#mainNavbar {
    font-size: 1.1rem;
    font-weight: 100;
    margin:0 0 0 0;
}

.navbar-toggler {
    background-color:#EA1C2C;
}
/*Hair by larissa section*/
#headingGroup h1 {
    font-weight: 100;
    color:black;
    font-size: 3rem;
}

#mainNavbar .nav-link {
    color: black;
}

#mainNavbar .nav-link:hover {
    color:#EA1C2C;
}
h2{
    font-size: 2.1rem;
    font-weight: 100;
    color:#EA1C2C;
}

.blurb p{
    color:#ad3434;
    font-weight:100;
    font-size:0.9rem;
    line-height: 2;
}
/*Gives a bottom margin to each text section*/
.content{
    margin-bottom: 100px;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
}
/*Responsible for the navbar animation*/
.navbar.scrolled {
    background:#fff9fb;
    transition: background 200ms;
}


/*The envelope Icon*/
.fa-envelope {
    color:black;
    font-size: 3.5rem;
    transition: all .2s;
    display: inline-block;

}
/*This removes the bottom padding of font awesone icons*/
span .fa-envelope{
    height:20px;
}
.fa-envelope:hover{
 transform: translateY(-3px);
 box-shadow: 0 50px 35px rgba(0,0,0,.2);
 transform:scale(1.3);
}

.fa-envelope:active{
    transform: translateY(-1px);
    box-shadow: 0 40px 25px rgba(0,0,0,.2);
}
.fa-envelope:hover:after{
    transform: scale(1.5);
}


/*Used for the social media Icons*/
a{color:#fff9fb}

/*below is for the icons in the footer section*/
.icons{
    background: black;
    height:70px;
    margin-top:-70px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;;
    padding-right:20px;
}
.icons p {
    padding-left:10px;
}
.social_media_icons{
    font-size:2rem;
}

@media (max-width: 1200px) {
        #headingGroup h1 {
            font-weight: 100;
            font-size: 2rem;

        }  
    }
@media (max-width:768px){
    .navbar{
        background:#fff9fb;
        padding-left:0;
        padding-right:0;
    }
}
